In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

ModuleNotFoundError: No module named 'numpy'

In [3]:
import sys
sys.executable

'/home/hyungjookim/.pyenv/versions/3.7.9/bin/python'

In [5]:
swallow_o_1 = pd.read_csv("./data/sample_data/CN187_22524_105015_e-6.0_auto.txt", sep="\t", encoding='cp949', index_col=0)
swallow_o_1.head()

,First,Quality_1,Second,Quality_2,Type,Longitude,Latitude,ElevAngle
Index,,,,,,,,
0,2023-06-08 10:53:48,9,2023-06-08 20:18:48,9,Midnight,125.690,26.006,-6.0
1,2023-06-08 20:18:48,9,2023-06-09 10:49:48,9,Midday,126.214,25.105,-6.0
2,2023-06-09 10:49:48,9,2023-06-09 20:17:48,9,Midnight,126.363,25.306,-6.0
3,2023-06-09 20:17:48,9,2023-06-10 10:49:48,9,Midday,126.388,25.223,-6.0
4,2023-06-10 10:49:48,9,2023-06-10 20:28:48,9,Midnight,125.038,22.915,-6.0

In [7]:
swallow_o_2 = pd.read_csv("data\sample_data\CN189_20524_145410driftadj_e-6.0_auto.txt", sep='\t', encoding='cp949', index_col=0)
swallow_o_2.head()

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\khj01\AppData\Local\Temp\ipykernel_14892\924559235.py:1: SyntaxWarning: invalid escape sequence '\s'
  swallow_o_2 = pd.read_csv("data\sample_data\CN189_20524_145410driftadj_e-6.0_auto.txt", sep='\t', encoding='cp949', index_col=0)

,First,Quality_1,Second,Quality_2,Type,Longitude,Latitude,ElevAngle
Index,,,,,,,,
0,2023-06-09 02:18:53,9,2023-06-09 08:20:53,9,Midnight,-80.178,51.083,-6.0
1,2023-06-09 08:20:53,9,2023-06-10 10:43:53,9,Midday,36.730,-72.258,-6.0
2,2023-06-10 10:43:53,9,2023-06-10 20:08:53,9,Midnight,128.267,25.832,-6.0
3,2023-06-10 20:08:53,9,2023-06-11 10:48:53,9,Midday,127.667,26.747,-6.0
4,2023-06-11 10:48:53,9,2023-06-11 20:02:53,9,Midnight,128.442,27.907,-6.0

In [2]:
swallow_o_1.shape

NameError: name 'swallow_o_1' is not defined

In [ ]:
swallow_o_2.shape

In [ ]:
swllow_o = pd.concat([swllow_o_1, swallow_o_2])
swllow_o.shape